<script>
import * as d3 from "d3v4";

export default {
  data() {},
  mounted() {
    // set the dimensions and margins of the graph
    let margin = { top: 30, right: 30, bottom: 30, left: 30 },
      width = 450 - margin.left - margin.right,
      height = 450 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    let svg = d3
      .select("#my_data")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // Labels of row and columns
    let myGroups = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"];
    let mylets = ["v1", "v2", "v3", "v4", "v5", "v6", "v7", "v8", "v9", "v10"];

    // Build X scales and axis:
    let x = d3.scaleBand().range([0, width]).domain(myGroups).padding(0.01);
    svg
      .append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));

    // Build X scales and axis:
    let y = d3.scaleBand().range([height, 0]).domain(mylets).padding(0.01);
    svg.append("g").call(d3.axisLeft(y));

    // Build color scale
    let myColor = d3.scaleLinear().range(["red", "#69b3a2"]).domain([1, 100]);

    //Read the data
    d3.csv(
      "https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/heatmap_data.csv",
      function (data) {
        // create a tooltip
        let tooltip = d3
          .select("#my_data")
          .append("div")
          .style("opacity", 1)
          .attr("class", "tooltip")
          .style("background-color", "white")
          .style("border", "solid")
          .style("border-width", "2px")
          .style("border-radius", "5px")
          .style("padding", "5px");

        // Three function that change the tooltip when user hover / move / leave a cell
        let mouseover = function (d) {
          tooltip.style("opacity", 1);
          console.log(d);
        };
        let mousemove = function (d) {
          tooltip
            .html("The exact value of<br>this cell is: " + d.value)
            .style("position", "absolute")
            .style("left", d3.mouse(this)[0] + 70 + "px")
            .style("top", d3.mouse(this)[1] + "px");
        };
        var mouseleave = function (d) {
          tooltip.style("opacity", 0);
          console.log(d);
        };

        // add the squares
        svg
          .selectAll()
          .data(data, function (d) {
            return d.group + ":" + d.variable;
          })
          .enter()
          .append("rect")
          .attr("x", function (d) {
            return x(d.group);
          })
          .attr("y", function (d) {
            return y(d.variable);
          })
          .attr("width", x.bandwidth())
          .attr("height", y.bandwidth())
          .style("fill", function (d) {
            return myColor(d.value);
          })
          .on("mouseover", mouseover)
          .on("mousemove", mousemove)
          .on("mouseleave", mouseleave);
      }
    );
  },
};
</script>
<template>
  <div>
    <div id="my_data" style="position: relative"></div>
  </div>
</template>
