<template>
  <div id="my_dataviz">
    <svg v-if="items.length" ref="svg" class="svg">
      <g :transform="`translate(${margin.left},${margin.top})`">
        <g>
          <rect
            v-for="(d, index) in items"
            :key="index"
            class="rect"
            :x="scaleX(d.group)"
            :y="scaleY(d.variable)"
            :width="scaleX.bandwidth()"
            :height="scaleY.bandwidth()"
            :fill="fill(d.value)"
          />
        </g>
        <g v-if="items" ref="xAxis" :transform="`translate(0,${height})`"></g>
        <g v-if="items" ref="yAxis"></g>
      </g>
    </svg>
    <div class="tooltip" ref="tooltip"></div>
  </div>
</template>
<script>
import * as d3 from "d3v4";
import axios from "axios";
const width = 450;
const height = 450;
const myGroups = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"];
const myVars = ["v1", "v2", "v3", "v4", "v5", "v6", "v7", "v8", "v9", "v10"];

export default {
  data() {
    return {
      items: [],
      width: 450,
      mouseover: false,
      margin: { top: 30, right: 30, bottom: 30, left: 30 },
    };
  },
  computed: {
    scaleX() {
      return d3.scaleBand().range([0, width]).domain(myGroups).padding(0.01);
    },

    scaleY() {
      return d3.scaleLinear().range([height, 0]).domain(myVars).padding(0.01);
    },
    fill() {
      return d3.scaleLinear().range(["red", "#69b3a2"]).domain([1, 100]);
    },
  },
  mounted() {
    axios
      .get(
        "https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/heatmap_data.csv"
      )
      .then((response) => {
        console.log(response);
        this.items = this.csv2array(response.data);
        console.log("haha", this.items);
      })
      .catch((error) => {
        console.log(error);
      });
    // let vvv = [];
    // d3.csv(
    //   "https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/heatmap_data.csv",
    //   function (jhjj) {
    //     vvv = [...jhjj];
    //   }
    // );
    // console.log("vvv", vvv);
    // this.items = vvv;
  },
  methods: {
    csv2array(str, delimiter = ",") {
      const titles = str.slice(0, str.indexOf("\n")).split(delimiter);
      const rows = str.slice(str.indexOf("\n") + 1).split("\n");
      return rows.map((row) => {
        const values = row.split(delimiter);
        return titles.reduce(
          (object, curr, i) => ((object[curr] = values[i]), object),
          {}
        );
      });
    },
    updateXAxis() {
      let tickValues = this.scaleX.domain().filter((date, i) => {
        return i % 7 === 0;
      });

      d3.select(this.$refs.xAxis)
        .attr("class", "axis axis--x")
        .call(d3.axisBottom(this.scaleX).tickValues(tickValues));
    },

    updateYAxis() {
      d3.select(this.$refs.yAxis)
        .append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(this.scaleY));
    },
  },
};
</script>
<style>
.svg {
  width: 600px;
  height: 400px;
}
.rect {
}
.tooltip {
  opacity: 0;
  background-color: #fff;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}
.tooltip_mouseover {
  opacity: 1;
}
</style>
