<template>
  <svg height="400" width="1000">
    <path fill="none" stroke="red" stroke-width="2" :d="d" />
    <circle
      r="10"
      fill="#777"
      :cx="i[0]"
      :cy="i[1]"
      v-for="(i, index) in items"
      :key="index"
      @click="ClickItem(i)"
    />
  </svg>
</template>
<script>
import * as d3 from "d3v4";
export default {
  data() {
    return {
      items: [
        [50, 200],
        [250, 40],
        [450, 50],
        [650, 40],
        [850, 350],
        [900, 300],
      ],
      curve: "curveNatural",
    };
  },
  methods: {
    ClickItem(item) {
      this.curve =
        this.curve === "curveStepAfter" ? "curveStepBefore" : "curveStepAfter";
      console.log("item", item);
    },
  },
  computed: {
    lineGenarator() {
      return d3
        .line()
        .curve(d3[this.curve])
        .x((v) => v[0])
        .y((v) => v[1]);
    },
    d() {
      return this.lineGenarator(this.items);
    },
  },
};
</script>
