<template>
  <div>
    <!-- <pack-chart></pack-chart> -->
    <linear-chart></linear-chart>
    <bar-chart></bar-chart>
    <heap-chart></heap-chart>
    <pie-chart></pie-chart>
  </div>
</template>
<script>
import linearChart from "./components/linearChart.vue";
import BarChart from "./components/BarChart.vue";
import HeapChart from "./components/HeapChart.vue";
// import HeapNew from "./components/HeapNew.vue";
import PieChart from "./components/PieChart.vue";

export default {
  components: { linearChart, BarChart, PieChart, HeapChart },

  data() {
    return {};
  },
};
</script>
<style>
path {
  transition: all 0.5s;
}
</style>
